*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
.right{
    float: right;
}
.left{
    float: left;
}
.clear{
    clear: both;
}

/*scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/*fim do scrollbar*/
/*incio do menu*/
.header{
    padding:10px 0;
}
.burger{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height:50px;
    background:transparent;
    border-radius: 10%;
  } 
  .burger .top{
    bottom: 18px;
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    transition: 0.3s ease;
  }
  .burger .bottom{
    top:18px;
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    transition: 0.3s ease;
  }

  /* teste de verificação do checkbox
  #check:checked ~ label .burger{
      background-color: red;
  } */

  #check:checked ~ label .burger.open .top{
      transform: rotate(-225deg);
      top: 25px;
  }
  #check:checked ~ label .burger.open .bottom{
    transform: rotate(225deg);
    top: 25px;
}

/*sibe-bar menu*/
.menu-nav{
    display: none;
    position:fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: white;
    z-index: 98;
    transition: 0.5s ease-in;
    /*-webkit-box-shadow: -1px 0px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 5px -2px rgba(0,0,0,0.75);
box-shadow: -1px 0px 5px -2px rgba(0,0,0,0.75);*/
}
.menu-nav .menu{
    position: relative;
    top: 150px;
    right: 3%;
}

.nav-link{
    float: left;
    list-style-type:none;
    margin: 0 80px;
}
.nav-link p{color: #ccc;}
.nav-link li a{text-decoration: none;}
.nav-link a.nav-menu{
    font-size: 50px;
    font-weight: 500;
    color: black;
}
a.nav-menu:hover{
    text-decoration: underline;
}
.nav-link a.redes-socias{
    color: black;
    line-height: 40px;
}
/*fim do side-bar menu*/
/***********************ANIMATION************************/


/*Fim do menu*/





/*Inicio Home*/
    .home{
        padding: 40px 0;
    }
    .home h2{
        font-size: 50px;
    }
    .home h3{
        color:white;
        text-rendering: auto;
        font-size: 40px;
    }
    .home .text-border{
        -webkit-text-stroke: 1px black;
    }
    .home-title{
        margin: 0 auto;
        margin-top: 50px;
        width: 800px;
        max-width: 100%;
    }
    .home-title h3{
        font-size: 26px;
        color: black;
        font-weight: 300;
        text-align: center;
    }
    .portfolio{
        margin-top: 200px;
    }
    .portfolio h2{
        font-size:18px;
        margin-bottom: 20px;
        font-weight: 300;
    }
    /*Escrita automatica do texto*/
      .text-border h3 span.cursor {
        display: inline-block;
        background-color: #ccc;
        margin-left: 0.1rem;
        width: 3px;
        animation: blink 1s infinite;
      }
      .text-border h3 span.cursor.typing {
        animation: none;
      }
      @keyframes blink {
        0%  { background-color: #ccc; }
        49% { background-color: #ccc; }
        50% { background-color: transparent; }
        99% { background-color: transparent; }
        100%  { background-color: #ccc; }
      }
    /*Fim da escrita automatica do texto*/

    /*Grid Para as imagens */
    .galleria{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: 300px;/*Tamanho das linhas*/
        grid-gap: 5px;
    }
    .galleria-single{
        position: relative;
    }
    .galleria-single .imagem-galleria{
        width: 100%;
        height: 100%;
        object-fit: cover;/*Essa propriedade evita distorcao da imagem*/
        border-radius: 10px;
    }
    .galleria .galleria-single .box{
        position: absolute;
        background-color:rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: .5s ease;
    }
    .galleria .galleria-single .box:hover{
        opacity: 1;
        transition: .5s ease;
    }
    .galleria .galleria-single .box h3{
        font-size: 30px;
        color: white;
    }.galleria .galleria-single .box p a{
        margin-top: 20px;
        color: white;
        font-size: 20px;
    }
    /********************classes para todo tipo de tamanho de imagem*******************/
        .h-1{
            grid-row: span 1;
        }
        .h-2{
            grid-row: span 2;
        }
        .w-1{
            grid-column: span 1;
        }
        .w-2{
            grid-column: span 2;
        }
    /*Fim do grid para as imagens*/
/*Fim home*/


/*Sobre*/
.sobre{/* uma altura temporaria até a pagina obter mais informações*/
    min-height:600px;
}
.sobre p{
    max-width: 800px;
}
/*fim sobre*/


/*Servico*/
.servico{
    padding: 40px 0;
}
.servico h3{
    margin:20px 0;
}
.servico .servico-wrapper{
    padding:0 5px;
    width: 100%;
    height: 300px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.servico-wrapper img{
    margin: 10px 10px;
    padding:5px 5px;
    width: 60px;
    height: 60px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 50%;
}
.servico-wrapper h3{
    font-size: 18px;
}
.servico-wrapper p{
    font-size: 16px;
    margin: 10px 0;
}

/*fim do servico*/


/*incio portifolio principal*/

.portfolio-principal{
    padding: 40px 0;
}
.portfolio-principal .galleria{
    margin:40px 0;
}

p.pesquisa-portfolio{
    display: inline-block;
    margin:0 10px;
    cursor: pointer;
}
.portfolio-principal .galleria .galleria-single .box h3{
    font-size: 30px;
    color: white;
}
.portfolio-principal .galleria .galleria-single .box p a{
    margin-top: 20px;
    color: white;
    font-size: 20px;
}
/*fim do portifolio principal*/


/*contacto*/
.contacto{
padding: 50px 0;
}
.form{
    max-width: 800px;
}
.form input{
    width: 100%;
    margin: 10px 0;
    height: 40px;
    border:0;
    border-bottom: 1px solid #ccc;
    outline:0;
}
.form input[type=submit]{
    width: 120px;
    border: 0;
    color:white;
    background-color: black;
}
.form textarea{
    width: 100%;
    height: 250px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    resize: vertical;
}
/*fim do contacto*/


/*Inicio do footer*/
footer{
    padding: 40px 0;
    background-color: black;
    color: white;
}
.footer-1 a{
    color: white;
}
.footer-1 p{
    margin-top: 20px;
}
.redes-sociais-footer{
    margin-top: 20px;
}
.redes-sociais-footer p{
    display: inline-block;
    width: 48%;
}
.redes-sociais-footer a{
    color: white;
    text-decoration: none;
}
.footer-3 p{
    color: #ccc;
}
.footer-3 form input[type=email]{
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    margin:10px 0;
    border-radius: 20px;
    text-align: center;
}
.footer-3 form input[type=submit]{
    width: 200px;
    height: 40px;
    border: 0;
    outline: 0;
    margin:10px 0;
    padding-left: 10px;
    border-radius: 20px;
    background-color: #8FFFE1;
}
.footerfixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*Fim do footer*/
/*************************media querys******************/
@media screen and (max-width:1280px){
    .nav-redes{
        margin-right: 10px;
    }
    .nav-link{
        margin-right: 10px;
    }
    .menu-fixed{
        margin-right: 10%;
    }
}
@media screen and (max-width: 960px){
    .galleria{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 300px;/*Tamanho das linhas*/
        grid-gap: 5px;
    }
    .menu-btn{
        right:20px;
    }
    .redes{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .galleria{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 300px;/*Tamanho das linhas*/
        grid-gap: 5px;
    }
    .nav-link{
        margin: 0;
        margin-left: 20px;
    }
    .col-md-4{
        margin: 40px 0;
        text-align: center;
    }
    .h-1{
        grid-row: span 1;
    }
    .h-2{
        grid-row: span 1;
    }
    .w-1{
        grid-column: span 1;
    }
    .w-2{
        grid-column: span 1;
    }
}
@media screen and (max-width: 580px){
    .galleria{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 300px;/*Tamanho das linhas*/
        grid-gap: 5px;
    }
    .nav-link a.nav-menu{
        font-size: 30px;
    }
}
